version: "3.9"

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: change_me
      MYSQL_DATABASE: proyecto_inventario
      MYSQL_USER: app
      MYSQL_PASSWORD: change_me
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

  backend:
    build: .
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"

volumes:
  dbdata:
